<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ReservationDetailsTitle}"></title>
    <base th:href="@{/}">
</head>
<body>
<nav th:if="${role == 'ADMIN'}" style="display: flex">
    <form method="post" action="logOut"><button type="submit">log out</button></form>
    <button><a th:href="@{Workouts/AdminPage}" th:text="#{backBtnText}"></a></button>
</nav>
<nav style="display: flex" th:if="${role == 'USER'}">
    <button><a th:href="@{/Workouts}" th:text="#{backBtnText}"></a></button>
    <button><a href="Users/About" th:text="#{aboutMeBtn}"></a></button>
    <button><a th:href="@{/ShoppingCart}" th:text="#{shoppingCartTitle}"></a></button>
    <form method="post" action="logOut"><button type="submit">log out</button></form>
</nav>
<div id="bodyPage">
        <h2 th:text="#{aboutResrvation.h2}"></h2>
        <h3 th:text="#{workoutNameLabel} + ${reservation.schedule.workout.name}"></h3>
        <h3 th:text="#{workoutPriceLabel} +${reservation.schedule.workout.price}"></h3>
        <h3 th:text="#{payedPriceLabel} + ${reservation.price}"></h3>
        <h3 th:text="#{instructorsLabel} +${reservation.schedule.workout.coaches}"></h3>
        <h3 th:text="#{workoutTypeLabel} +${reservation.schedule.workout.type}"></h3>
        <h3 th:text="#{workoutLevelLabel} +${reservation.schedule.workout.level}"></h3>
        <h3 th:text="#{workoutKindLabel}"></h3>
        <ul>
            <li th:each="kind : ${reservation.schedule.workout.kinds}"><a th:text="${kind.name}" th:href="@{'Workouts/KindDetails?id=' + ${kind.id}}"></a></li>
        </ul>
        <h3 th:text="#{dateTimeOfStartLabel} + ${#temporals.format(reservation.schedule.dateTime, 'dd-MM-yyyy HH:mm')}"></h3>
        <h3 th:text="#{datetimeReservationLabel} + ${#temporals.format(reservation.dateTime, 'dd-MM-yyyy HH:mm')}"></h3>
</div>
</body>
</html>