<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{addComentBtn}"></title>
    <base th:href="@{/}">
    <script th:src="@{webjars/jquery/3.5.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/addComment.js}" type="text/javascript"></script>
</head>
<body>
<div id="errorDiv">
</div>
<form method="post" action="Comments/AddComment" name="commentAddForm">
   <table>
       <tr>
           <td> <input type="checkbox" name="anonymous" th:text="#{anonymus}"></td>
       </tr>
       <tr>
           <td th:text="#{contentLabel}"></td>
           <td>
               <textarea name="content" required> </textarea></td>
       </tr>
       <tr>
         <td th:text="#{ratingLabel}"></td>
           <td> <input type="number" max="5" min="1" name="rating" required></td>
       </tr>
       <tr>
          <td>
              <input type="hidden" name="workoutId" th:value="${Workout.id}">
              <input type="hidden" name="username" th:value="${User.username}">
              <input type="submit" th:value="#{addComentBtn}">
          </td>
       </tr>
   </table>
</form>
</body>
</html>