<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{addWorkoutTitle}"></title>
    <base th:href="@{/}">
</head>
<body>
<button><a th:href="@{Workouts/AdminPage}" th:text="#{backBtnText}"></a></button>
<form method="post" id="addWorkout" action="Workouts/AddWorkout" enctype="multipart/form-data">
    <h1 th:text="#{addWorkout.h1}"></h1>
    <table>
            <tr>
                <td th:text="#{workoutNameLabel}"> </td>
            </tr>
        <tr>
            <td> <input type="search" value=""  placeholder="type here" name="name" required></td>
        </tr>
        <tr> <td th:text="#{workoutTypeLabel}"> </td></tr>
            <tr><td>
                <select name="type" required>
                    <option th:each="type : ${T(com.SR37.OWP.model.enums.EWorkoutType).values()}" th:value="${type}" th:text="${type}" ></option>
                </select>
            </td>
            </tr>
        <tr><td th:text="#{workoutLevelLabel}"></td></tr>
            <tr>
                <td>
                    <select name="level" required>
                        <option th:each="level : ${T(com.SR37.OWP.model.enums.EWorkoutLevel).values()}" th:value="${level}" th:text="${level}"></option>
                    </select>
                </td>
            </tr>
            <tr><td th:text="#{instructorsLabel}"> </td></tr>
            <tr>
                <td>
                <input type="text" value=""  name="instructors" required>
            </td>
            </tr>
        <tr><td th:text="#{workoutKindLabel}"></td></tr>
        <tr>
            <td>
                <select name="kindId" multiple required>
                    <option th:each="kind : ${kinds}" th:value="${kind.id}" th:text="${kind.name}" ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="#{workoutPriceLabel}"></td>
        </tr>
        <tr>
            <td><input type="number" min="0" value="0" name="price" required /></td>
        </tr>
        <tr>
            <td th:text="#{imgLabel}"></td>
        </tr>
        <tr>
            <td><input type="file"  name="img" value="@{'/img/default-placeholder.png'}" accept="image/jpeg,image/png"></td>
        </tr>
        <tr>
            <td th:text="#{descriptionLabel}"></td>
        </tr>
        <tr>
            <td>
                <textarea type="text" rows="8" name="description" required></textarea>
            </td>
        </tr>
        <tr>
            <td><button type="submit"  th:text="#{addNewBtnText}" /></td>
        </tr>
    </table>
    </form>
</body>
</html>