<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{addScheduleTitle}"></title>
    <base th:href="@{/}">
</head>
<body>
    <button><a th:href="@{Workouts/AdminPage}" th:text="#{backBtnText}"></a></button>
    <h1 th:text="#{addSchedule.h1}"></h1>
    <div id="errorDiv">
        <h2 th:if="${error}  == true" style="color : red" id="error" th:text="${errorTxt}"></h2>
    </div>
    <form method="post" action="Schedules/AddSchedule">
        <table>
            <caption th:text="#{pleaseFillIn}"></caption>
            <tr><th th:text="#{workoutNameLabel}"></th></tr>
            <tr>
                <td>
                    <select name="workoutId" required>
                        <option th:each="workout : ${workouts}" th:value="${workout.id}" th:text="${workout.name}"></option>
                    </select>
                </td>
            </tr>
            <tr><th th:text="#{roomNumberLabel}"></th></tr>
            <tr>
                <td>
                    <select name="roomId" required>
                        <option th:each="room : ${rooms}" th:value="${room.roomID}" th:text="${room.roomID}"></option>
                    </select>
                </td>
            </tr>
            <tr><th th:text="#{dateTimeStartLabel}"></th>
            <tr>
            <td><input type="datetime-local"  name="dateTimeStart" required></td></tr>
            </tr>
            <tr><th th:text="#{durationLabel}"></th></tr>
            <tr><td><input type="number" value="10" min = "10" name="duration" required></td></tr>
            <tr><td><button type="submit" value="" name="add" th:text="#{addNewBtnText}" /></td></tr>
        </table>
    </form>
</body>
</html>