<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title th:text="#{allWorkoutsTitle}"></title>
</head>
<body>
    <nav style="display: flex" th:if="${role == 'ADMIN'}">
        <button><a href="Workouts/AddWorkout" th:text="#{addWorkoutBtnText}"></a></button>
        <button><a href="Schedules/AddSchedule" th:text="#{addScheduleBtnText}"></a></button>
        <button><a th:href="@{/Rooms}" th:text="#{allRomsBtnText}"></a></button>
        <button><a th:href="@{/LoyaltyCards}" th:text="#{applicationsBtnText}"></a></button>
        <button><a th:href="@{/Users/AllUsers}" th:text="#{allUsersPageTitle}"></a></button>
        <button><a th:href="@{/SpecialDates/AddDate}" th:text="#{addSpecialDateTitle}"></a></button>
        <button><a th:href="@{/Comments/Applications}" th:text="#{comentApplicationsTitle}"></a></button>
        <button><a th:href="@{/Reports}" th:text="#{reportsTitle}"></a></button>
        <form method="post" action="logOut"><button type="submit" name="submit" value="submit">LogOut</button></form>
    </nav>
    <nav style="display: flex" th:if="${role == 'USER'}">
        <form method="post" action="logOut"><button type="submit" name="submit" value="submit">LogOut</button></form>
        <form method="post" action="LoyaltyCards/applyForCard"><button type="submit" name="submit" th:if="${session.loyaltyCards == null} and ${hasApplied == false}" th:text="#{applyForCardBtn}"></button></form>
        <button><a href="Users/About" th:text="#{aboutMeBtn}"></a></button>
        <button><a th:href="@{/ShoppingCart}" th:text="#{shoppingCartTitle}"></a></button>
    </nav>
    <nav style="display: flex" th:if="${role == 'GUEST'}">
        <button><a th:href="@{/logIn}"  th:text="#{backToLoginBtnText}"></a></button>
    </nav>
    <form method="get" id="search" action="Workouts/Search">
        <table>
            <tr>
                <td  th:text="#{workoutNameLabel}"></td>
                <td><input type="search" value="" placeholder="type here" name="name"></td>
                <td  th:text="#{workoutTypeLabel}">
                </td>
                <td>
                    <select name="type">
                        <option value=""></option>
                        <option th:each="type : ${T(com.SR37.OWP.model.enums.EWorkoutType).values()}" th:value="${type}" th:text="${type}"></option>
                    </select>
                </td>
                <td  th:text="#{levelOption}">
                </td>
                <td>
                    <select name="level">
                        <option value=""></option>
                        <option th:each="level : ${T(com.SR37.OWP.model.enums.EWorkoutLevel).values()}" th:value="${level}" th:text="${level}"></option>
                    </select>
                </td>
                <td th:text="#{instructorsLabel}">
                </td>
                <td>
                    <input type="search" value="" placeholder="type here" name="instructors">
                </td>
                <td  th:text="#{workoutKindLabel}">
                </td>
                <td>
                    <select name="kind">
                        <option value=""></option>
                        <option th:each="kind : ${kinds}" th:value="${kind.name}" th:text="${kind.name}"></option>
                    </select>
                </td>
                <td>
                    <span th:text="#{priceFromLabel}"></span>
                    <br>
                    <input type="number" min="0" value="0" name="priceFrom">
                    <br>
                    <span th:text="#{priceToLabel}"></span><input type="number" min="0" value="1000000" name="priceTo">
                </td>
                <td><button type="submit" value="" name="search" th:text="#{searchBtnText}"></button></td>
            </tr>
        </table>
        <div>
                <p th:text="#{oredr.p}"></p>
                <select name="orderCriterium">
                    <option value=""></option>
                    <option value="_name" th:text="#{nameOption}"> </option>
                    <option value="_type" th:text="#{typeOption}">  </option>
                    <option value="_level" th:text="#{levelOption}"> </option>
                    <option value="instructors" th:text="#{instructorsOption}"> </option>
                    <option value="kindName" th:text="#{kindOption}"> </option>
                    <option value="price" th:text="#{priceOption}"></option>
                    <option value="avgRating" th:text="#{ratingOption}"> </option>
                </select>
                <select name="order" accesskey="Workouts/Order">
                    <option value=""></option>
                    <option value="asc" th:text="#{ascOption}"> </option>
                    <option value="desc" th:text="#{descOption}"> </option>
                </select>
                <button type="submit" value="" name="search" th:text="ok"></button>
    </div></form>
        
        
        <div id="allWorkouts" style="display: flex; width: 100%; flex-wrap: wrap">
            <div th:each="workout : ${workouts}" style="margin-right: 10px ; margin-top: 8px">
                <img th:src="@{${workout.imgUrl}}" style="width: 180px;height : 300px">
                </br>
                <a th:text="${workout.name}" th:href="@{'Workouts/Details?id=' + ${workout.id}}"></a>
                <p th:text="#{workoutPriceLabel} + ${workout.price}"></p>
                <p th:text="#{ratingLabel} + ${workout.rating}"></p>
                <button th:if="${role == 'ADMIN'}">
                    <a  th:href="@{'Workouts/EditWorkout?id=' + ${workout.id}}" th:text="#{editWorkoutBtn}"></a>
                </button>
                <form method="post" action="Wishlist/Add">
                    <input type="hidden" th:value="${workout.id}" name="workoutId">
                <button th:if="${role == 'USER'}" th:text="#{wishlistBtn}" type="submit">
                </button>
                </form>
            </div>
        </div>
</body>
</html>