<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login error</title>
</head>
<body>
    <h1 th:text="${userMsg}"></h1>
    <form method="post" action="logOut"><button type="submit" th:text="#{returnAndLogOutBtn}"></button></form>
</body>
</html>