<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{comentApplicationsTitle}"></title>
    <base th:href="@{/}">
    <script th:src="@{webjars/jquery/3.5.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/commentApplications.js}" type="text/javascript"></script>
</head>
<body>
<nav style="display: flex; ">
    <form method="post" action="logOut"><button type="submit" name="submit" value="submit">LogOut</button></form>
    <button><a th:href="@{Workouts/AdminPage}" th:text="#{backBtnText}"></a></button>
</nav>
<h1 th:text="#{commentAplications.h1}"></h1>
</br>
<table id="commentTable">
    <thead>
    <th th:text="#{userLabel}"></th>
    <th th:text="#{workoutNameLabel}"></th>
    <th th:text="#{contentLabel}"></th>
    <th th:text="#{dateOfCommentLabel}"></th>
    <th th:text="#{ratingLabel}"></th>
    <th></th>
    <th></th>
    </thead>
</table>
</body>
</html>