<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{editWorkoutTitle}"></title>
    <base th:href="@{/}">
    <script src="webjars/jquery/3.5.1/jquery.js" type="text/javascript"></script>
    <script src="js/editWorkout.js" type="text/javascript"></script>
</head>
<body>
<button><a th:href="@{Workouts/AdminPage}" th:text="#{backBtnText}"></a></button>
<h1 th:text="#{editWorkout.h1}"></h1>
<div id="errorDiv">
</div>
<form method="post" id="editWorkout" action="Workouts/EditWorkout" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${workout.id}">
    <table>
        <tr>
            <td th:text="#{workoutNameLabel}"></td>
        </tr>
        <tr>
            <td> <input type="search" th:value="${workout.name}"  placeholder="type here" name="name" required></td>
        </tr>
        <tr> <td th:text="#{workoutTypeLabel}"> </td></tr>
        <tr><td>
            <select name="type" required>
                <option th:each="type : ${T(com.SR37.OWP.model.enums.EWorkoutType).values()}" th:value="${type}" th:text="${type}" th:selected="${workout.type == type}"></option>
            </select>
        </td>
        </tr>
        <tr><td th:text="#{workoutLevelLabel}"></td></tr>
        <tr>
            <td>
                <select name="level">
                    <option th:each="level : ${T(com.SR37.OWP.model.enums.EWorkoutLevel).values()}" th:value="${level}" th:text="${level}" th:selected="${workout.level == level}"></option>
                </select>
            </td>
        </tr>
        <tr><td th:text="#{instructorsLabel}"> </td></tr>
        <tr>
            <td>
                <input type="search" th:value="${workout.coaches}" placeholder="type here" name="instructors" >
            </td>
        </tr>
        <tr><td th:text="#{workoutKindLabel}"></td></tr>
        <tr>
            <td>
                <fieldset  id="kindIdBox" required>
                    <input type="checkbox" name="kindId" th:each="kind : ${kinds}" th:value="${kind.id}" th:text="${kind.name}" th:checked="${#lists.contains(workout.kinds,kind)}">
                </fieldset >
            </td>
        </tr>
        <tr>
            <td th:text="#{workoutPriceLabel}"></td>
        </tr>
        <tr>
            <td><input type="number" min="0" th:value="${workout.price}"name="price" required /></td>
        </tr>
        <tr>
            <td th:text="#{imgLabel}"></td>
        </tr>
        <tr>
            <td><input type="file"  name="img" th:value="${workout.imgUrl}" accept="image/jpeg,image/png"></td>
        </tr>
        <tr>
            <td th:text="#{descriptionLabel}"></td>
        </tr>
        <tr>
            <td>
                <textarea type="text" rows="8" name="description" th:text="${workout.description}"></textarea>
            </td>
        </tr>
        <tr>
            <td><button type="submit" value="" name="search" th:text="#{editBtnText}" /></td>
        </tr>
    </table>
</form>
</body>
</html>