<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <base th:href="@{/}">
    <script th:src="@{webjars/jquery/3.5.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/locale.js}" type="text/javascript"></script>
</head>
<body>
    <nav>
        <span th:text="#{lang.change}"></span>
        <select id="locale">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="sr" th:text="#{lang.sr}"></option>
        </select>
    </nav>
    <h1 th:text="#{logIn.h1}"></h1>
    <div class="error" th:if="${error  == true}">
        <h2 style="color : red" th:text="${errorTxt}"></h2>
    </div>
    <form method="post" th:action="@{logIn}">
        <table>
            <caption th:text="#{pleaseFillIn}"></caption>
            <tr><th th:text="#{usernameLabel}"></th></tr><td> <input type="text" value = "" name="username" required></td>
            <tr><th th:text="#{passwordLabel}"></th></tr><td> <input type="password" value = "" name="password" required></td>
            <tr><th></th></tr><td> <input type="submit" value = "logIn"></td>
            <tr><th></th></tr><td> <a th:href="@{signUp}" th:text="#{signUpLink}"></a></td>
            <tr><th></th></tr><td> <a th:href="@{Workouts}" th:text="#{guestLink}"></a></td>
        </table>
    </form>
</body>
</html>