<!DOCTYPE html>
<html lang="en" x>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title th:text="#{roomsPageTitle}"></title>
    <base th:href="@{/}">
</head>
<body>
<nav style="display: flex; ">
    <button><a href="Rooms/AddRoom" th:text="#{addRoomTitle}"></a></button>
    <form method="post" action="logOut"><button type="submit" name="submit" value="submit">LogOut</button></form>
    <button><a th:href="@{Workouts/AdminPage}" th:text="#{backBtnText}"></a></button>
</nav>
    <h1 th:text="#{rooms.h1}"></h1>
<form method="get" id="search" action="Rooms/Search" style="margin-bottom: 10px">
        <span th:text="#{roomNumberLabel}"></span>
        <input type="text" name="roomId">
        <span th:text="#{oredr.p}"></span>
        <select name="orderCriterium">
            <option value=""></option>
            <option value="roomId" th:text="#{roomNumberOption}"></option>
        </select>
        <select name="order" accesskey="Rooms/Order">
            <option value=""></option>
            <option value="asc" th:text="#{ascOption}"> </option>
            <option value="desc" th:text="#{descOption}"> </option>
        </select>
        <button type="submit" value="" name="search" th:text="ok"></button>
</form>
<div class="error">
    <h2 style="color : red" th:text="${errorTxt}"  th:if="${error == true}"></h2>
</div>
<table style="border: 1px solid Gray; padding: 2px">
    <thead>
        <tr>
            <td th:text="#{roomNumberLabel}"></td>
            <td th:text="#{capacityLabel}"></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.roomID}"></td>
        <td th:text="${room.capacity}"></td>
        <td><button><a th:href="'Rooms/EditRoom?id=' + ${room.roomID}" th:text="#{editRoomTitle}"></a></button></td>
        <td>
            <form method="post" th:action="'Rooms/Delete?id=' + ${room.roomID}">
            <button type="submit" th:text="#{deleteBtnText}"> </button>
        </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>