<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{workoutKindTitle}"></title>
    <base th:href="@{/}">
</head>
<body>
<nav th:if="${role == 'ADMIN'}" style="display: flex">
    <button><a th:href="@{Workouts/AdminPage}" th:text="#{backBtnText}"></a></button>
</nav>
<nav style="display: flex" th:if="${role == 'GUEST'}">
    <button><a th:href="@{/Workouts}" th:text="#{backBtnText}"></a></button>
</nav>
        <h1 th:text="#{workoutKind.h1}"></h1>
        <table style="border: 1px solid Gray; padding: 2px">
            <tbody style="text-align: left">
            <tr>
                <td th:text="'Name:' + ${kind.name}"></td>
            </tr>
            <tr>
                <td th:text="#{descriptionLabel}"></td>
            </tr>
            <tr>
                <td th:text="${kind.description}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>